.screenshot-image {
  width: 150px;
  height: 90px;
  border-radius: 4px;
  border: 2px solid whitesmoke;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  background: white;
}

.display-cover {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
}

video {
  background: rgba(0, 0, 0, 0.2);
}


.controls > button {
  height: 45px;
  text-align: center;
  margin: 0 6px;
  background: transparent;
}
.controls > button:hover svg {
  color: white !important;
}

@media (min-width: 300px) and (max-width: 400px) {
  .controls {
    flex-direction: column;
  }
  .controls button {
    margin: 5px 0 !important;
  }
}

.controls button:nth-child(1) {
  border: 2px solid #D2002E;
}

.controls button:nth-child(2) {
  border: 2px solid #008496;
}

.controls button:nth-child(3) {
  border: 2px solid #00B541;
}

.controls button:nth-child(4) {
  border: 2px solid #eef10c;
}

.controls > button:hover svg {
  color: white;
}
